#container {
    width: 1100px;
    margin:auto;
}
#header {
    display:flex;
    justify-content:space-around;
    height: 30px;
}

.player1 {
    line-height: 30px;
}

.player2 {
    line-height: 30px;
}

#logo {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.aquiletour {
    display:flex;
    justify-content:center ;
}
.player2 .round1 {
    display:none;
    color:red;
}
.player2 .round2 {
    display: block;
    position: relative;
    right:400px;
}
.round2 {
    display:none;
    color:red;
}

.round1 {
    position: relative;
    left:400px;
    line-height: 30px;
    color:orange;
}
.jetonRouge {
    border: 1px black solid;
    width: 78px;
    height: 78px;
    border-radius: 100%;
    background-image: linear-gradient(45deg, rgb(136, 2, 2), rgba(255, 0, 0, 0.979) );
}

.jetonJaune {
    border: 1px black solid;
    width: 78px;
    height: 78px;
    border-radius: 100%;
    background-image: linear-gradient(45deg, rgb(250, 233, 2) , rgb(251, 255, 0) );
}

#refresh {
    border:none;
	padding:6px 0 6px 0;
	border-radius:50%;
	background:#478bf9;
	font:bold 13px Arial;
	color:#fff;
	width:80px;
    }

td{
    border: 1px black solid;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: white;
}

th {
    border: 1px black solid;
    width: 10px;
    height: 10px;
    background-color: grey;
    cursor: pointer;
}

th:hover {
    background-color: rgb(44, 40, 40);
}

.tableau {
    background-image: linear-gradient(45deg,rgb(4, 4, 51),rgb(47, 47, 173),rgb(53, 51, 51));
    margin: 30px auto;
}

.link-video {
    line-height: 30px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(29, 32, 29);
    font-size: 15px;
    font-style: italic; 
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

span {
    text-transform: uppercase;
    color: red;
}

h1 {
    line-height: 30px;
    display:flex;
    color: rgb(29, 32, 29);
    text-align: center;
    font-style: italic;
    margin-top: -5px;
}

.video{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.restart{
    display: flex;
    justify-content: center;
}

button{
    border-radius: 10px;
    box-shadow: none;
    background-color: blue;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
